OPTIONS="--collector.textfile.directory /var/lib/node_exporter/textfile_collector \
    --web.listen-address {{ listen_address | default(':9100') }} \
    --web.telemetry-path {{ metrics_path | default('/metrics') }}"